<h2>New Tweet!</h2>
<form class="tweet-compose" action="/tweets" method="POST">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea name="tweet[content]"></textarea>
  </label>
  <strong style="width: 1000px; word-wrap: break-word;" class="charsleft">140</strong>
  <br>

  <a href="javascript:void(0)" class="add-mentioned-user">Add mention</a>

  <div class="mentioned-users"></div>

  <script class="mention" type="text/template">
    <label>
      Mention
      <select name="tweet[mentioned_user_ids][]">
        <option></option>
        <% User.all.each do |user| %>
          <option value="<%= user.id %>"><%= user.username %></option>
        <% end %>
      </select>
    </label>
  </script>
  <br>

  <input class="submit btn btn-default" type="Submit" value="Post Tweet!">
</form>
