/* PHASE 3: Layout */
.content {
  width: 900px;
  background: white;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 1px solid #ccc;
  border-top: 0px solid #ccc;
}

.content:before {
  display: block;
  content: "";
  position: absolute;
  background: #ccc;
  width: 1px;
  left: 240px;
  top: 0px;
  bottom: 0;
}

.content-sidebar {
  padding: 20px;
  width: 200px;
  float: left;
  min-height: 200px;
}

.content-main {
  padding: 20px;
  width: 620px;
  float: left;
  min-height: 200px;
}
