/* PHASE 6: Sidebar */
.profile-picture {
  display: block;
  margin-top: -120px;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.profile-info h3 {
  font-size: 25px;
  margin: 15px 0px;
  padding: 5px 0px;
}

.profile-nav li {
  padding: 5px 5px;
  border-top: 1px solid #ccc;
  font-weight: 700;
}

.profile-nav li:last-child {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.profile-nav li:hover {
  background: #eee;
}

.profile-info p {
  margin-bottom: 20px;
}
