/* PHASE 8: Thumbs */
.friends li{
  display: block;
  float: left;
  width: 28%;
  height: auto;
  border: 1px black solid;
  border-radius: 5px;
  position: relative;
  margin: 5px 0;
}

.friends li:nth-child(3n + 2) {
  margin: 5px 10px;
}

.thumb:before {
    content: attr(title);
    display: none;
    position: absolute;
    bottom: 75px;
    left: 50%;

    /*-webkit-transform: translateX(-50%);*/
    transform: translateX(-50%);

    padding: 5px 10px;
    background: #000;
    color: white;
    font-size: 12px;
    white-space: nowrap;
  }

.thumb:after {
    content: "";
    display: none;
    position: absolute;
    bottom: 65px;

    left: 50%;
    margin-left: -10px;

    width: 0;
    height: 0;
    border-top: 10px solid #000;
    border-bottom: 0 solid #000;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    background: transparent;
  }

.thumb:hover:before,
  .thumb:hover:after {
    display: block;
  }
