<h1>Sign up!</h1>

<ul>
  <% @user.errors.full_messages.each do |err_msg| %>
    <li><%= err_msg %></li>
  <% end %>
</ul>

<form action="/users" method="POST" class="form">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
    class="form-control">

  <label class="form-group" for="user_username">Username</label>
  <input
    type="text"
    name="user[username]"
    id="user_username"
    value="<%= @user.username %>"
    class="form-control">
  <br>

  <label class="form-group" for="user_password">Password</label>
  <input type="password" name="user[password]" id="user_password"
  class="form-control">
  <br>

  <input class="btn btn-default" type="submit" value="Create User!">
</form>
<%= link_to "Already have an account? Log in instead", new_session_path%>
